<script type="text/javascript" src="/public/javascripts/jquery-1.6.4.min.js"></script>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
function get_city_list(country)
{

    $("#hotel").attr('disabled',true);
    $.ajax(
    {
        type : 'GET',
        url : '/getCityList',
        data : 'country=' + country,
        success : function(msg)
        {

            $("#city").empty();
            var data = msg.split(',');
            var option = "";

            for(var i=0; i<data.length;i++)
            {
                option += "<option value=\"" + data[i] + "\">" + data[i] + "</option>";
            }

            if (country == "" || country == null || country == undefined)
            {
                option += "<option value=\"\">Please select</option>";
            }

            $("#city").append(option);
            $("#hotel").attr('disabled',false);

        },
        error : function(msg, textStatus, e)
        {
           alert("error");

        }
    });
}

function send()
{
    $("#hotel").attr('disabled',true);
    $.ajax(
    {
        type : 'GET',
        url : '/getCheckResult',
        data : 'country=' + $("#country").val() + '&city=' + $("#city").val(),
        success : function(msg)
        {



            $("#result").html(msg);
            $("#hotel").attr('disabled',false);

        },
        error : function(msg, textStatus, e)
        {
           alert("error");

        }
    });
}
</script>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-2">


    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        Country
        </div>
    <div class="col-lg-2">
            <select name="country" id="country" onChange="get_city_list(this.value)" class="form-control">
                <option value="">Please select</option>
                #{list items:countryList, as:'country'}
                <option value="${country}">
                    ${country}
                </option>
                #{/list}
            </select>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">

    </div>

</div>
<div class="row">
    <div class="col-lg-2">

</div>
<div class="col-lg-2">

</div>
    <div class="col-lg-2">
        <span class="center-block">
        City
            </span>
    </div>
    <div class="col-lg-2">
            <select name="city" id="city" class="form-control">
                <option value="">Please select</option>
            </select>
    </div>
<div class="col-lg-2">

</div>
<div class="col-lg-2">

</div>

</div>
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <br>
        <button id="hotel" class="btn btn-primary" onclick="send()">Submit</button>

    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">

    </div>




</div>
<br>
<br>
<br>
<div id="result"></div>




